*{
    text-decoration: none;
    list-style: none;
}

*:focus{
    outline: none;
}

@font-face{
    font-family: "h1";
    src: url(/fonts/PantheraRegular-MVZ9J.ttf);
}

@font-face{
    font-family: "h2";
    src: url(/fonts/WakandaForever-Regular.ttf);
}

@font-face{
    font-family: "h3";
    src: url(/fonts/FontsFree-Net-BEYNO.ttf);
}
@font-face{
    font-family: "p" ;
    src: url(/fonts/Cantarell-Regular.ttf);
}
h1{
    font: 68px "h1";
    color: #9E91B7;
}
h2{
    font: 43px "h2";
    color: #9E91B7;
}

p,  .page a{
    font: 16px "p";
    color: #FFFF;
}
.politique a{
    font: 10px "p";
    color: #FFFF;
}
.propos h4, .rs h4{
    font: 18px "p";
    letter-spacing: 6px;
}
h3{
    font: 28px "h3";
    color: #9E91B7;
}
.barre a{
    font: 24px "h3";
    color: #9E91B7; 
}
h4{
    font: 22px "h4";
    letter-spacing: 6px;
}
span{
    font: 14px "p";
    color: #FFFF; 
}

/* barre de navigation */

.barre{
   display: flex;
   justify-content: space-between;
   padding: 5% 9% 5% 9%; 
}
.barre2 {
    display: flex;
    margin-right: 3%;
    /* padding-right: 5%; */
}
.barre2 a{
    padding: 0% 5%;
    color: #FFFF;
}
.barre2 a:hover{
    text-decoration: underline;
    color: #9E91B7;
    
}
/*body */
body{
    background-repeat: no-repeat;
    background-size: cover ;
    background-image: url("../images/Illustrations + Logo/All pages/arrière_plan.png");
    overflow-x: hidden;
    animation: fade-in 1s;
}  
@keyframes fade-in{
    from{
        transform: translateX(-10%);
    }
    to{
        transform:translateX(0) ;
    }
}
a:hover{
    text-decoration: underline;
}
/* premiere section */

.texte1{
    text-align: justify;
    width: 500px;
}
.wakanda{
    padding-top: 5%;
    padding-left: 8%;
    background-image: url("../images/Illustrations + Logo/Wakanda/Pantherwakanda1.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    opacity: 80%;
}

/* 2eme section */
.recit{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
    padding: 5% 4% 14% 6%;
    width: 1250px;
    background-image: url("../images/Illustrations + Logo/Wakanda/Pantherwakanda2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 90%;
    margin-top: none;
}
.image21 img{
    width: 550px;
}
.colonne1{
    width: 85%;
}
.colonne2{
    width: 85%;
}




/* foooter */
.pieds{
    background-image: url("/images/Illustrations + Logo/All pages/back_footer.png");
    width: 101%;
     padding-top: 10px;
     min-height: 600px;
     /* position: relative; */
}  
.propos{
    display: flex;
    width: 60%;
    margin-left: 40%;
    margin-top: 10%;
}
.rs{
    padding-left: 15%;
    letter-spacing: 28px;
}
.rs h4{
    letter-spacing: 28%;
}
.reseau{ 
    display: flex;
}
.rs1{
    margin-right: 9%;
}

.final{
    position: relative;
    width: 20%;
    margin-left: 15%; 

}

.footer{
    position: absolute;
    top: -330%;
    left: -25%;
}
.footer img{
    width: 80%;
}
.final:hover:hover{
    transform: scale(1.1);
}
.politique{
    font-size: 10px;
    display: flex;
    justify-content: center; 
    margin-top: 5%;  
}
.pltq{
    margin: 0 5px;
    color: #F2CEF2;
}
.pltq li a:before{
    content: ".";
}
.pieds h4{
    color: #FFFF;
}
.rs1:hover{
    transform: scale(1.1);
}





